body {
  font-family: "Segoe UI", Arial, sans-serif;
  text-align: center;
}

table {
  width: 90vh;
  height: 90vh;
  margin: auto;
  white-space: nowrap;
  font-size: 10vh;
}

td,
tr {
  font-size: 10vh;
  border-collapse: collapse;
  border: 1px solid black;
  padding-left: 30px;
  white-space: nowrap;
  width: 20%;
  height: 20%;
  padding: 0.5rem;
  border-spacing: 0.5rem;
}

#casella1,
#casella2,
#casella3,
#casella4,
#casella5,
#casella6,
#casella7,
#casella8,
#casella9 {
  opacity: 0.5;
}

h2 {
  vertical-align: middle;
  top: 50vh;
}